@import "~bootstrap/scss/bootstrap";
.container {
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
      width: 50%;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 330px;

      &:nth-of-type(1) .btn-icon {
        border-right: 1px solid #0068d6;
      }
      &:nth-of-type(2) .btn-icon {
        border-right: 1px solid #1d8d37;
      }

      .btn-icon {
        width: 50px;
        padding: 5px 10px;
        margin-right: 5px;

        img {
          height: 25px;
          width: 25px;
          filter: invert(1);
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)

@media (max-width: 576px) {
  .container .title p {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .container .title p {
    width: 100%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container .title p {
    width: 50%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container .title p {
    width: 50%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container .title p {
    width: 50%;
  }
}
