@import "~bootstrap/scss/bootstrap";
.wrapper {
  position: relative;
  background: linear-gradient(45deg, #ffffffa9, #ffffffa1),
    url(/assets/services/chimenies.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .customer-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;

    grid-auto-columns: 80px;
    grid-template-rows: repeat(2, 80px);
    grid-auto-flow: column;
    gap: 20px;
    img {
      position: relative;
      object-fit: contain;
      height: 80px;
      width: 80px;
      opacity: 1;
    }
  }
}

// Small devices (landscape phones, 576px and up)

@media (max-width: 576px) {
  .wrapper .customer-grid {
    grid-template-rows: repeat(4, 80px);
  }
}

@media (min-width: 576px) {
  .wrapper .customer-grid {
    grid-template-rows: repeat(3, 80px);
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .wrapper .customer-grid {
    grid-template-rows: repeat(3, 80px);
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .wrapper .customer-grid {
    grid-template-rows: repeat(3, 80px);
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .wrapper .customer-grid {
    grid-template-rows: repeat(2, 80px);
  }
}
