<section>
  <div class="container py-5">
    <div class="title pb-5">
      <app-separator></app-separator>
      <h2>{{ services.Industrial[0].category }}</h2>
    </div>
    <swiper [config]="config" class="row">
      <div
        class="card col-3"
        *ngFor="let item of services.Industrial"
        [routerLink]="item.id"
      >
        <img
          class="card-img"
          [defaultImage]="'assets/services/morelia-low.jpg'"
          [lazyLoad]="item.image"
        />
        <div class="card-img-overlay">
          <div class="card-brand">
            <app-brand></app-brand>
          </div>
          <div class="card-overlay-body">
            <h4 class="card-title">{{ item.shortTitle }}</h4>
            <span class="badge badge-secondary">24 hrs</span>
          </div>
        </div>
      </div>
    </swiper>
  </div>
</section>
