@import "~bootstrap/scss/bootstrap";
@import "~swiper/css/swiper.min.css";

.container {
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
      width: 50%;
    }
  }
  .swiper-wrapper {
    padding: 0 20px;
    .card {
      cursor: pointer;
      padding: 0;
      height: 350px !important;
      box-sizing: content-box !important;
      .card-img {
        height: inherit;
        width: inherit;
        object-fit: cover;
      }
      .card-img-overlay {
        padding: 0;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        .card-brand {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 1rem;
          app-brand {
            height: 40px;
            width: 100px;
          }
        }
        .card-overlay-body {
          padding: 1rem;
          background: $dark;
          color: $white;
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)

@media (max-width: 576px) {
  .container .title p {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .container .title p {
    width: 100%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container .title p {
    width: 50%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container .title p {
    width: 50%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container .title p {
    width: 50%;
  }
}
