<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <app-separator></app-separator>
        <h1 [innerHTML]="locale.policy.title"></h1>
        <p>
          {{ locale.policy.desc[0] }}
        </p>
        <p>
          {{ locale.policy.desc[1] }}
        </p>
      </div>
      <div class="col-md-5 col-sm-12 action-call">
        <div class="card">
          <img
            class="card-img"
            [defaultImage]="'/assets/services/morelia-low.jpg'"
            [lazyLoad]="locale.policy.card.image"
          />
          <div class="card-img-overlay">
            <div class="card-title">
              <app-brand></app-brand>
            </div>
            <p class="card-text">
              {{ locale.policy.card.desc }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
